.topbar {
    width: 1348px;
    margin: 0 auto;
}

.topbar .icon {
    width: 154px;
    height: 30px;
    display: inline-block;
    background: url(../img/logo_db.png) no-repeat 100% 100%;
    margin-top: 30px;
    margin-left: 133px;
    vertical-align: bottom;
}

.topbar .icon a {
    width: 154px;
    height: 30px;
    color: transparent;
    display: inline-block;
}

.topbar .search {
    display: inline-block;
    margin-left: 27px;
    margin-right: 110px;
    position: relative;
}

.topbar .search input {
    width: 270px;
    height: 32px;
    box-sizing: border-box;
    text-indent: 4px;
}

.topbar .search .icon1 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    text-align: center;
    padding: 9px 0;
}

.topbar .search .icon1 img {
    width: 12px;
    height: 12px;
}

.topbar .search input::placeholder {
    color: #cccbc1;
}

.topbar .nav {
    display: inline-block;
    height: 32px;
    vertical-align: bottom;
}

.topbar .nav ul li {
    float: left;
}

.topbar .nav ul li a {
    width: 40px;
    height: 20px;
    float: left;
    color: transparent;
    margin-right: 16px;
    margin-top: 6px;
}

.topbar .nav ul li:nth-child(1) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
}

.topbar .nav ul li:nth-child(2) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
    background-position-x: -60px;
}

.topbar .nav ul li:nth-child(3) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
    background-position-x: -120px;
}

.topbar .nav ul li:nth-child(4) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
    background-position-x: -300px;
}

.topbar .nav ul li:nth-child(5) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
    background-position-x: -180px;
}

.topbar .nav ul li:nth-child(6) a {
    background: url('../img/ic_read_home_nav.png') no-repeat;
}

.topbar .nav ul li:nth-child(7) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
    background-position-x: -240px;
}

.topbar .nav ul li:nth-child(8) a {
    background: url('../img/ic_shijian_home_nav.png') no-repeat;
    height: 21px;
    margin-top: 5px;
}

.topbar .nav ul li:nth-child(9) a {
    background: url('../img/anony_nav_logo.png') no-repeat;
    width: 43px;
    background-position-x: -420px;
}

.login {
    margin-top: 30px;
    background-color: #edf4ed;
}

.login .container {
    width: 1348px;
    margin: 0 auto;
}

.login .container .side {
    display: inline-block;
    width: 820px;
    height: 305px;
    margin-left: 18px;
    background: url(../img/16ad990ec23uwn790d4.jpg) no-repeat;
    background-size: contain;
    vertical-align: bottom;
    position: relative;
}

.login .container .side .download {
    position: absolute;
    width: 152px;
    height: 80px;
    right: 0;
    top: 90px;
}

.login .container .side .download p {
    font-size: 25px;
    color: #111;
    line-height: 24px;
    margin-bottom: 35px;
}

.login .container .side .download a {
    display: inline-block;
    width: 116px;
    height: 30px;
    color: white;
    background-color: #00b51d;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 1px;
}

.login .container .side .download img {
    width: 30px;
    vertical-align: bottom;
    border: 1px solid #00b51d;
    box-sizing: border-box;
    border-radius: 1px;
}

.login .container .main {
    width: 305px;
    height: 305px;
    box-sizing: border-box;
    vertical-align: bottom;
    padding-left: 12px;
    padding-top: 24px;
}

.out-container {
    padding: 35px 0;
}

.out-container:nth-child(2n) {
    background-color: #f7f7f7;
}

.in-container {
    width: 950px;
    margin: 0 auto;
}

.in-container h2 {
    color: #007722;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-title {
    padding-top: 36px;
}

.no-title .left .albums ul li {
    float: left;
    width: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.no-title .left .albums ul {
    width: 360px;
}

.no-title a {
    font-size: 12px;
}

.no-title a:hover {
    color: white;
    background-color: #3377aa;
}

.extra {
    font-size: 12px;
    color: #999;
}

.no-title .left .notes {
    margin-left: 20px;
    color: #666;
    font-size: 12px;
}

.no-title .left .notes ul li {
    width: 264px;
    margin-bottom: 12px;
    line-height: 1.62;
}

.no-title .right ul {
    margin-top: 10px;
}

.no-title .right ul li {
    width: 265px;
    margin-top: 10px;
    line-height: 1.62;
}

.no-title .left h2 {
    margin-bottom: 15px;
}

.time .left h1 a {
    font-size: 24px;
}

.time .left h1 a:visited {
    color: #494949
}

.time .right {
    width: 836px;
    margin-top: 4px;
}

.time .right ul li {
    float: left;
    width: 100px;
    margin-right: 63px;
    text-align: center;
    margin-bottom: 30px;
}

.time .right ul li a.img {
    display: block;
    background: url(../img/eb08fc6c-7348-11ea-afb6-5a5bcc9605bf.jpg);
    width: 100px;
    height: 141px;
    position: relative;
}

.time .right ul li a.img::after {
    content: "";
    position: absolute;
    background: url(../img/ic_audio_w@2x.png) center/14px no-repeat;
    width: 12px;
    height: 12px;
    bottom: 10px;
    right: 10px;
}

.time .right ul li a {
    display: block;
    color: #333;
    font-size: 13px;
    line-height: 1.38;
    margin-bottom: 10px;
}

.movie .left {
    width: 120px;
}

.movie .left h1 a {
    font-size: 24px;
    font-weight: 400;
}

.movie .left h1 {
    margin-bottom: 10px;
}

.movie .left a {
    font-size: 14px;
}

.movie .left a:link {
    color: #27a;
}

.movie .left a:visited {
    color: #27a;
}

.movie .left ul li {
    margin-bottom: 10px;
}

.movie .playing {
    float: left;
    width: 530px;
    margin-top: 7px;
}

.movie .playing ul li {
    float: left;
    width: 100px;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 33px;
}

.movie .playing ul {
    margin-left: 16px;
}

.movie .playing ul li:nth-of-type(4n) {
    margin-right: 0;
}

.movie .playing ul li img {
    width: 100px;
    vertical-align: bottom;
}

.movie .playing ul li a:nth-child(2) {
    display: block;
    max-width: 90px;
    color: #333;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 5px auto;
}

.movie .playing ul li .score-star .star {
    display: inline-block;
    width: 55px;
    height: 11px;
    background: url(../img/ic_rating_s.png) no-repeat;
    background-position-y: -11px;
}

.movie .playing ul li .score-star .score {
    color: #e09015;
    text-indent: 4px;
    font-size: 12px;
}

.movie .playing ul li a.but {
    display: block;
    width: 68px;
    height: 23px;
    margin: 0 auto;
    background-color: #1c8db0;
    border-radius: 2px;
    color: white;
    margin-top: 8px;
}

.movie .playing ul li a.but:hover {
    background-color: #047fcb;
}

.movie .right .fenlei {
    width: 260px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.movie .right .fenlei ul li {
    float: left;
    width: 52px;
}

.movie .right .fenlei ul li a {
    font-size: 12px;
}

.movie .right .remen ol li {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 12px;
    height: 19px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #eaeaea;
}

.movie .right .remen ol li a {
    color: #2277aa;
    font-size: 12px;
    margin-left: 2px;
}

.group .left {
    width: 120px;
}

.group .left a{
    font-size: 14px;
}

.group .left ul li{
    margin: 10px 0;
}

.group .left h1 a {
    font-size: 24px;
    font-weight: 400;
}

.group .left h1 {
    margin-bottom: 10px;
}

.group a:link {
    color: #007982;
}

.group a:visited {
    color: #007982;
}

.group .hotgroup{
    float: left;
    width: 530px;
    margin-top: 7px;
}

.group .hotgroup ul li img {
    vertical-align: bottom;
}

.group .hotgroup ul li{
    position: relative;
    float: left;
    width: 250px;
    margin-bottom: 40px;
}

.group .hotgroup ul li a{
    font-size: 13px;
}

.group .hotgroup ul li a:nth-of-type(2){
    position: absolute;
    left: 65px;
    top: 4px;
}

.group .hotgroup ul li span{
    margin-left: 12px;
}

.group .right{
    width: 265px;
    margin-top: 7px;
}

.group .right ul li a{
    display: inline-block;
    width: 37px;
    font-size: 12px;
}

.group .right ul li a:nth-of-type(7n){
    margin: 0;
}

.group .right ul li h3{
    margin-top: 7px;
}

.group .right ul li h3 a{
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}